body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

#animation-limited {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

#logo-one {
  width: 40vw;
  height: auto;
}

#animation-unlimited {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

#logo-two {
  width: 50vw;
  height: auto;
}
